/*.aps
/*.user
/*.filters
/Release
/GeneratedFiles
/Debug
/.vs
/qrc_tskreator.cpp
/ui_guiarea.h
/ui_guichangevnumbers.h
/ui_guicreatearea.h
/ui_guiexit.h
/ui_guiextradescription.h
/ui_guifind.h
/ui_guiinit.h
/ui_guiitem.h
/ui_guiitemaffects.h
/ui_guiitemvalues.h
/ui_guimainwindow.h
/ui_guimob.h
/ui_guimobinit.h
/ui_guimultiplemodify.h
/ui_guireport.h
/ui_guiroom.h
/ui_guiselectflags.h
/ui_guisettings.h
/ui_guishop.h
/ui_guiteleportroom.h
/ui_guitester.h
/ui_guizone.h
/ui_guizonecommand.h
/binaries/msvc/build
